/* 1) тип блока
   2) позиционирование блока
   3) текстовые стили
   4) анимации
*/
html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

h1 {
  margin: 0;
  font-family: Gilroy-Bold;
  font-size: 47.3392px;
  line-height: 59px;
}

h2 {
  font-family: Gilroy-Bold;
  font-size: 34px;
  line-height: 42px;
  text-align: center;
  padding-top: 120px;
  margin: 0;
}

img {
  width: 100%;
  height: 387px;
}

p {
  margin: 0;
}

.bold {
  font-weight: bold;
}

button {
  border: 0;
  background-color: unset;
}

/* TODO: What is it ? */
button ul:hover {
  cursor: pointer;
}

.transform-90-deg {
  transform: rotate(-90deg) translateY(-20%);
  display: flex;
  align-items: flex-end;
}

.wrapper {
  max-width: 1445px;
  padding: 0 17.4%;
}

header {
  position: sticky;
  top: 0;
  background: #fff;
  max-width: 1445px;
  padding: 0 17.4%;
}

header a {
  color: #828282;
}

header a:hover {
  color: black;
}

header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 2rem 0;
  border-bottom: 1px solid #828282;
  font-family: Gilroy-Bold;
}

.main-section > main > section {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}

.main-section > main > section h1,
.main-section > main > section div {
  align-self: flex-end;
}

.designer {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
}

.man-img-photo {
  background-image: url("./img/BSPP2266.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 387px;
}

.aboutMe {
  background: #f6f6f6;
}

.info-about-me {
  max-width: 51.4%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 auto;
  padding-top: 17.69px;
  font-size: 18px;
  line-height: 22px;
  font-family: Gilroy-Medium;
  text-align: center;
}

.info-about-me p {
  margin-bottom: 60px;
}

.info-about-me p:last-child {
  margin-bottom: 107px;
}

.skills {
  max-width: 1445px;
  padding: 0 17.4%;
}

.skills h2 {
  padding-top: 91px;
}

.skills p {
  font-size: 18px;
  line-height: 22px;
  font-family: Gilroy-Medium;
  text-align: center;
  padding-top: 69.1px;
  padding-bottom: 83.49px;
}

.icon {
  background-position: center center;
  background-repeat: no-repeat;
  height: 89px;
}

.icon_PS {
  background-image: url("./img/Vector_PS.svg");
}

.icon_AI {
  background-image: url("./img/Vector_AI.svg");
}

.icon_AE {
  background-image: url("./img/Vector_AE.svg");
}

.icon_Figma {
  background-image: url("./img/Vector_Figma.svg");
}

.programs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.programs p {
  padding-top: 23.03px;
}

.portfolio {
  background: #f6f6f6;
  max-width: 1445px;
  padding: 0 17.4% 96px;
  text-align: center;
}

.portfolio a {
  font-family: Gilroy-Medium;
  font-size: 18px;
  line-height: 22px;
}

.example {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 522px;
  margin-top: 99px;
  margin-bottom: 45px;
}

.fashion_store {
  background-image: url("./img/fashion_store.png");
  height: 510px;
  margin-top: 47px;
}

.reebok_store {
  background-image: url("./img/reebok_store.png");
}

.braun_store {
  background-image: url("./img/braun_store.png");
}

.contacts {
  max-width: 1445px;
  padding: 0 17.4%;
  text-align: center;
  font-family: Gilroy-Medium;
}

.contacts h2 {
  padding-top: 114px;
  padding-bottom: 20px;
}

.contacts p {
  max-width: 34%;
  margin: 0 auto 29px;
  font-size: 18px;
  line-height: 22px;
}

.contacts button {
  background: #070707;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  margin-bottom: 86px;
}

.app {
  background-position: center center;
  background-repeat: no-repeat;
  height: 40px;
  width: 100%;
}

.linkedin {
  background-image: url("./img/linkedin.png");
}

.instagram {
  background-image: url("./img/instagram.png");
}

.behance {
  background-image: url("./img/behance.png");
}

.dribble {
  background-image: url("./img/dribble.png");
}

.applications {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 190px 46px;
}

.like_me {
  max-width: 17%;
  font-family: Gilroy-Medium;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("../fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("./fonts/gilroy-medium.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/gilroy-medium.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("./fonts/gilroy-medium.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-medium.svg#gilroy-medium")
      format("svg"); /* Chrome < 4, Legacy iOS */
}

/* TODO: Relative path */
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"),
    /* IE < 9 */ url("../fonts/gilroy-bold.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/gilroy-bold.woff") format("woff"),
    /* Firefox >= 3.6, any other modern browser */
      url("../fonts/gilroy-bold.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("../fonts/gilroy-bold.svg#gilroy-bold")
      format("svg"); /* Chrome < 4, Legacy iOS */
}
